<!DOCTYPE HTML>
  <head>
    <%= stylesheet_link_tag "users" %>
  </head>

  <body>
      <div class= "container">
        <h2 class="display-2">
        <small class="text-muted"> Start your journey</small> <%="#{@user.first_name}"%>
          </h2>

      <% @user.tickets.each do |t| %>
        <h4> Price: $<%=  t.price %></h4>
        <h5>Train Line: <%= link_to t.train.line, train_path %></h5>
      <% end %>

      <%= link_to '<button type="button" class="btn btn-info">Check Trains</button>'.html_safe, trains_path %>
      <%= link_to '<button type="button" class="btn btn-info">Check Trains</button>'.html_safe, stations_path %>

      </div> <!------------- end container ---------------->
  </body>

</html>
