<!DOCTYPE>
<html>
  <head>

  </head>
  <body>
    <div class = "container">
      <h1 class= "text-center">Purchase a Ticket</h1>
  <h2>
    <small class= "text-muted">Ticket Price: </small>$<%= @ticket.price.to_i %>
 </h2>

<%= form_for @ticket do |f| %>
  <%= f.label "Customer" %>
  <%= f.collection_select :user_id, @users, :id, :first_name %><br>
  <%= f.label "Train Line" %>
  <%= f.collection_select :train_id, @trains, :id, :line %><br>
  <%= f.time_select :train_time, default: {hour: 12, min: 0} %> <br>
  <%= f.submit %>
<% end %>

</div>
</body>
</html>
